@charset "UTF-8";
body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .sidebar {
            min-height: 100vh;
            background-color: #6c757d;
            color: white;
            transition: margin-left 0.3s ease-in-out;
        }
        .sidebar.collapsed {
            margin-left: -250px;
        }
        .sidebar a {
            color: white;
            text-decoration: none;
        }
        .sidebar a:hover {
            background-color: #495057;
            color: #fff;
        }
        .content {
            padding: 20px;
            transition: margin-left 0.3s ease-in-out;
        }
        .content.expanded {
            margin-left: 0;
        }
        footer {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 10px 0;
        }